/*ESTILOS DEL HEADER*/
header {
    background-color: #B0578D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar-brand {
        background-color: #B0578D;
    }

    .bg-body-tertiary {
        opacity: none;
        --bs-bg-opacity: none;
    }

    .navbar {
        padding: 1%;
    }

    nav {
        div {
            div {
                div {
                    .nav-link {
                        color: #FFE4D6;
                        background-color: #B0578D;
                    }
                }

            }

            .container-fluid {
                background-color: #B0578D;
            }

            button {
                .navbar-toggler {
                    border: none;
                }
            }

        }
    }
}

/*CUERPO DEL INDEX*/
main {
    section {
        img {
            .banner-inicio {
                width: 100%;
                background-position: center;
                background-size: cover;
                padding: 2%;
            }

            .grilla-principal {
                display: grid;
                grid-template-areas:
                    "video  texto1"
                    "texto2 foto1"
                    "foto2  texto3";
                grid-template-rows: repeat(350px);
                grid-template-columns: 50% 50%;
            }
        }

        div {
            h3 {
                .que-es-la-piel {
                    font-weight: 700;
                    text-align: center;
                    color: #B0578D;

                }

                .funciones-de-la-piel {
                    font-weight: 700;
                    align-items: center;
                    color: #B0578D;
                    margin: 5%;
                }
            }
        }

        img {
            .foto-capas-piel {
                display: flex;
                flex-direction: row;
                width: 70%;
                height: 70%;
                margin: 0 15%
            }

            .foto-funciones-piel {
                height: 90%;
                width: 90%;
            }
        }

    }

    p {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 50px;
        font-size: 20px;

    }
    .video-inicio {
        width: 100%;
        justify-content: center;
        padding: 40px;
        height: 100%;
    }
    .reconocer-tu-piel {
        h2 {
            text-align: center;
            color: #D988B9;
            font-size: 3rem;
            font-weight: 900;
            text-decoration: underline;
            margin: 2%;
        }
        p {
            text-align: center;
            font: 3rem;
            padding: 2%;
        }
    }
    ul {
        padding: 3%;
    }
}





/*ICONOS REDES*/

footer {
    section {
        section {
            div {
                div {
                    img {
                        .icono-fb {
                            width: 100%;
                        }

                        .icono-wp {
                            width: 100%;
                        }

                        .icono-mail {
                            width: 100%;
                        }
                    }
                }
            }

            .redes {
                width: 20%;
                height: 100px;
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                align-items: space-evenly;
                justify-content: space-evenly;
            }

            .contacto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }
        }

        form {
            text-align: right;
            color: greys;
            margin: 5%;
        }
    }

    p {
        text-align: center;

    }
}