/*ESTILOS DEL HEADER*/
header {
    background-color: #B0578D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration: none;
    
    }
        
}

/*MENU DE NAVEGACION*/
.navbar-brand {
    background-color: #B0578D;
}

.bg-body-tertiary {
   --bs-bg-opacity: none;
}

.navbar {
    padding: 1%;
}

.nav-link {
    color: #FFE4D6;
    background-color: #B0578D;
}

.container-fluid {                
    background-color: #B0578D;
}

button {
    .navbar-toggler {
        border: none;
    }
}

.row {
        --bs-gutter-x: 0rem;
}

/*TITULO DE LA WEB*/

.titulo-principal {
    color: #FACBEA;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    font-size: 150%;
    padding: 2px;
}





