/*CUERPO DEL INDEX*/
main {
    section {
        img {
            .banner-inicio {
                width: 100%;
                background-position: center;
                background-size: cover;
                padding: 2%;
            }

            .grilla-principal {
                display: grid;
                grid-template-areas:
                    "video  texto1"
                    "texto2 foto1"
                    "foto2  texto3";
                grid-template-rows: repeat(350px);
                grid-template-columns: 50% 50%;
            }
        }

        div {
            h3 {
                font-size: 2rem;
                text-align: center;
                font-weight: 700;
            
                .que-es-la-piel {
                    font-weight: 700;
                    text-align: center;
                    color: #B0578D;

                }

                .funciones-de-la-piel {
                    font-weight: 700;
                    align-items: center;
                    color: #B0578D;
                    margin: 5%;
                }
            }
            iframe{
                .video-dadatina {
                    margin: auto;
                    padding-top: 2%;
                    display: flex;
                }
                
            }
        }

        img {
            .foto-capas-piel {
                display: flex;
                flex-direction: row;
                width: 70%;
                height: 70%;
                margin: 0 15%
            }

            .foto-funciones-piel {
                height: 90%;
                width: 90%;
            }
        }

    }

    p {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 50px;
        font-size: 20px;

        .influencer {
            font-size: 2rem;        
        }

    }
    .video-inicio {
        width: 100%;
        justify-content: center;
        padding: 40px;
        height: 100%;
    }
    .reconocer-tu-piel {
        h2 {
            text-align: center;
            color: #D988B9;
            font-size: 3rem;
            font-weight: 900;
            text-decoration: underline;
            margin: 2%;
        }
        p {
            text-align: center;
            font: 3rem;
            padding: 2%;
            }
    }
    ul {
        padding: 3%;
        li{
            span{
                .pieles {
                    color: #D988B9;
                    font-size: 2rem;
                    font-weight: 800;
                }
            }
        }
           
    }

    .grilla_pasos {
        display: grid;
        grid-template-areas:
            "paso1 paso2 paso3"
            "paso4 img1  paso5"
            "paso6 paso6 paso7"
            "paso8 paso9 paso10";
        grid-template-rows:
            300px 300px 350px 300px;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        background-color: #FACBEA;
        .div {
            width: 100%;
            height: 100%;
            .paso_1 {
                grid-area: paso1;
                padding: 5%;
            
            }
            .paso_2 {
                grid-area: paso2;
                padding: 5%;
            }
            
            .paso_3 {
                grid-area: paso3;
                padding: 5%;
            }
            
            .paso_4 {
                grid-area: paso4;
                padding: 5%;
            }
            
            .img_1 {
                grid-area: img1;
                width: 100%;
            }
            
            .paso_5 {
                grid-area: paso5;
                padding: 5%;
            
            }
            
            .paso_6 {
                grid-area: paso6;
                padding-top: 5%;
            }
            
            .paso_7 {
                grid-area: paso7;
                padding: 5%;
                margin-bottom: 10%;
                padding-top: 0;
            }
            
            .paso_8 {
                grid-area: paso8;
                padding: 5%;
            
            }
            
            .paso_9 {
                grid-area: paso9;
                padding: 5%;
            
            }
            
            .paso_10 {
                grid-area: paso10;
                padding: 5%;
            
            }
            p {
                display: flex;
                padding: 5px;
                font-size: 20px;
                justify-content: center;
                width: 100%;
                font-weight: 500;
            
            }
            h4 {
                text-align: center;
                color: #B0578D;
                font-size: 2rem;
                font-weight: 900;
                text-decoration: underline;
                margin: 2%;
            }
        
        }
    
    }
}

